{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ paper }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ paper }} <small>{{ paper.conference }}</small></h1>
        <hr />

        <form class="form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="attach" class="form-label">
                {% trans "Paper:" %}
            </label>
            <input type="file" class="form-control" name="attach" required/>
            <p class="help-block">{% trans "Upload here the files of your paper" %}</p>

            <hr />

            <button class="btn btn-block btn-primary">{% trans "Upload" %}</button>
        </form>
    </div>
{% endblock %}
