from __future__ import print_function
from __future__ import unicode_literals

import os

SECRET_KEY = 'k807r1-(jhjvl5mdwp12&ddc@%d_tn(+!(isn^8=bw%&2&+jt7'
DEBUG = False
TEMPLATE_DEBUG = False
ALLOWED_HOSTS = ['*']

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'mydatabase',
        'USER': 'mydatabaseuser',
        'PASSWORD': 'mypassword',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

#EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
