from __future__ import print_function
from __future__ import unicode_literals

import os

SECRET_KEY = 'k807r1-(jhjvl5mdwp12&ddc@%d_tn(+!(isn^8=bw%&2&+jt7'
DEBUG = False
TEMPLATE_DEBUG = False
ALLOWED_HOSTS = ['*']

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'mydatabase',
        'USER': 'mydatabaseuser',
        'PASSWORD': 'mypassword',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

#EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# uploaded files will go here. By default this files will go to the code
# directory in a folder called "media"
#MEDIA_ROOT = '/var/www/private/files'


PAPERS_URL = 'http://localhost:8000'
PAPERS_EMAIL_SUBJECT = 'Your papers, please'
PAPERS_EMAIL_BODY = '''
Hello,

You're receiving this email because you are the author of the paper:
{paper}

for the conference:
{conf}

Please, send us the corresponding file using the following url:
{url}

Note: This path is a one-use-then-drop, so once you upload your paper, this
url will be invalid.

Regards.
'''
